%article{ id: "article-#{article.id}" }
  %h1= link_to article.title, articles_path(article)
  %h6
    = article.posted_in_category_on_date
    = article.tags

  - if truncated?
    = article.content_before_first_h2.html_safe
  - else
    = article.content
