%article{ id: "article-#{article.id}" }
  %h1= link_to article.title, articles_path(article)
  %h6
    :markdown
      posted in #{article.category}
      on #{article.date}
    = article.tags

  - if truncated?
    = article.truncated_content.html_safe
  - else
    = article.content
