%article{ id: page.id }
  %header
    %h1= page.title
  %section
    = render copy: page.source do |content|
      - if truncated
        = truncate content, 500, link_to_read_more(page)
      - else
        = content
  %footer
    .text
      %p
        Posted in
        %strong= page.category
        on
        = time_tag page.date
        = "."
      - unless truncated
        %p
          Tags:
          %span.tags= page.tags
          = " | "
          = link_to "Comments", "#comments", rel: 'modal', class: 'btn-comments'
        - if page.on_hacker_news?
          %p.hacker-news
            Comments on
            = link_to "Hacker News", "http://news.ycombinator.com/item?id=#{page.hn_item_id}"
