%article{ id: "article-#{article.id}" }
  %h3= link_to article.title, articles_path(article)
  %h6= article.posted_in_category_on_date

  = render_copy "articles/content/#{article.id}"
  = article.tags
