%article{ id: "article-#{article.id}", class: 'standalone' }
  %header
    = title article.title
  %section
    = render_copy "articles/content/#{article.id}"
  %footer
    = article.posted_in_category_on_date
    %nav
      = article.tags
      = article.comments
      = article.discuss_on_hacker_news
  = render 'comments' if @show_comments
