%article{ id: "article-#{article.id}" }
  %header
    %h1= article.title
  %section
    = render_copy "articles/content/#{article.id}"
  %footer
    = article.posted_in_category_on_date
    %nav
      = article.tags
      = article.comments
      = article.discuss_on_hacker_news
