.span-12
  %p
    This blog was built with
    = link_to "100%",       "http://github.com/tubbo/jekyll"
    = link_to "open",       "http://jquery.com"
    = link_to "source",     "http://rubyonrails.org"
    = link_to "technology", "http://twitter.github.com/bootstrap"
    = "."
