!!!
%html{:lang => "en"}
  %head
    = meta_tags
    = title_tag
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag 'application'
    = prefetch_content image_path('spinner.gif')
    = feedburner_link_tag
  %body
    .container-responsive
      %header.row-fluid
        = render partial: 'layouts/navigation'
      .row-fluid
        = render partial: 'layouts/messages'
        = yield
      %footer.row-fluid
        .span-12
          =# render partial: 'layouts/links'
    :javascript

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24749017-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
