!!!
%html{:lang => "en"}
  %head
    = meta_tags
    = title_tag
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag 'application'
  %body
  .container-responsive
    %header.row-fluid
      = render partial: 'layouts/navigation'
    .row-fluid
      = render partial: 'layouts/messages'
      = yield
    %footer.row-fluid
      .span-12
        =# render partial: 'layouts/links'
