!!!
%html{:lang => "en"}
  %head
    = meta_tags
    = title_tag
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag "vendor/custom.modernizr", 'application'
    = prefetch_content image_path('spinner.gif')
    = feedburner_link_tag
  %body
    / Nav Bar
    %header.row
      .large-12.columns
        .nav-bar.right
          %ul.button-group
            = button_for 'facebook', 'wonderbars', title: "The music I make"
            = button_for 'twitter', 'tubbo', title: "The things I say"
            = button_for 'github', 'tubbo', title: "The work I've done"
            = rss_button title: "The prose I write"
        %h1
          =link_to 'psychedeli.ca', root_path
          %small 100% Pure Beard
        %hr/
    / End Nav
    / Main Page Content and Sidebar
    .row
      / Main Blog Content
      .large-9.columns{:role => "content"}
        = yield
      / End Main Content
      / Sidebar
      %aside.large-3.columns
        .profile-image
          // my handsome mug
        %h5 Hi, I'm Tom!
        :markdown
          I'm a [musician][band], [hacker][git], and [founder][label].
          Check out the articles below to learn more about what I do!
          [band]: http://thewonderbars.com
          [git]: http://github.com/tubbo
          [label]: http://waxpoeticrecords.com

        %h5 Recent Articles
        = render 'articles/menu'
      / End Sidebar
    / End Main Content and Sidebar
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            :markdown
              Powered by [open][rails] [source][zurb] [software][jquery].

              [rails]: http://rubyonrails.org
              [zurb]: http://foundation.zurb.com
              [jquery]: http://jquery.com
          .large-6.columns
            %ul.inline-list.right
              %li= link_to 'About', root_path
              %li= link_to 'Resume', 'http://www.linkedin.com/in/tubbo'
              %li= link_to 'Code', "http://github.com/tubbo/psychedeli.ca"
              %li= link_to 'Status', "http://travis-ci.org/tubbo/psychedeli.ca"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24749017-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

