!!!
%html{:lang => "en"}
  %head
    = meta_tags
    = title_tag
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag "vendor/custom.modernizr", 'application'
    = prefetch_content image_path('spinner.gif')
    = feedburner_link_tag
  %body
    / Nav Bar
    %header.row
      .large-12.columns
        .nav-bar.right
          %ul.button-group
            = button_for 'facebook', 'wonderbars', title: "My band, The Wonder Bars"
            = button_for 'twitter', 'tubbo', title: "My thoughts about life, the universe...and everything"
            = button_for 'github', 'tubbo', title: "The work I've done in the open-source community"
            = rss_button title: "This feed, silly billy!"
        %h1
          =link_to 'psychedeli.ca', root_path
          %small 100% Pure Beard
        %hr/
    / End Nav
    / Main Page Content and Sidebar
    .row
      / Main Blog Content
      .large-9.columns{:role => "content"}
        = yield
      / End Main Content
      / Sidebar
      %aside.large-3.columns
        #categories
          %h5 Categories
          %ul{ style: 'list-style:none' }
            %li= link_to 'gbs', '#'
            %li= link_to 'code', '#'
            %li= link_to 'music', '#'
            %li= link_to 'diy', '#'
      / End Sidebar
    / End Main Content and Sidebar
    / Footer
    %footer.row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p Powered entirely by open-source software.
          .large-6.columns
            %ul.inline-list.right
              %li= link_to 'Code', "http://github.com/tubbo/psychedeli.ca"
              %li= link_to 'Documentation', "http://rdoc.info/tubbo/psychedeli.ca"
              %li= link_to 'Build Status', "http://travis-ci.org/tubbo/psychedeli.ca"
              %li= link_to 'Call Me Maybe?', "http://tubbo.github.com/"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24749017-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

