!!!
%html{:lang => "en"}
  %head
    = html5_meta_tags
    = csrf_meta_tags
    = title_tag 
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
    = stylesheet_link_tag 'application', media: "all"
    = javascript_include_tag twitter_anywhere, 'application'
    :javascript
      twttr.anywhere(function (T) {
        T.hovercards();
      });
	  %body
    .container
      %header.row
        = render partial: 'layouts/navigation'
      .row
        = render partial: 'layouts/messages'
        = yield
        %aside#about.span-4
          = render partial: 'layouts/sidebar'
          .icons
            = link_to image_tag('twitter.png'), "http://twitter.com/tubbo", title: "@tubbo on Twitter"
            = link_to image_tag('github.png'), "http://github.com/tubbo", title: "tubbo on Github"
            = link_to image_tag('soundcloud.png'), "http://soundcloud.com/wonderbars", title: "The Wonder Bars on Soundcloud"
            = link_to image_tag('rss.png'), "http://feeds.feedburner.com/psychedelica-all", rss_options
      %footer.row
        = render partial: 'layouts/links'

